/* try to change height and width of the img and h1 and paragraph  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: calc(1vw + 8px); /* Dynamically adjust root font size */
}


body {
    font-family: Open Sans, sans-serif;
}

.navbar {
    /* border: 1px solid black; */
    padding-top: 5%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    /* gap:150% ; */
}

.navbar ul {
    /* border: 1px solid blue; */
    list-style: none;
    display: flex;
    gap: 22%;
    width: 15.5rem;
    color: hsl(243, 87%, 12%);
    font-family: Raleway;
    font-weight: 500;
    font-size: 14px;
}

.navbar img {
    width: 130px;
}

.first {
    display: flex;
    /* border: 1px solid blue; */
    align-items: center;
    height: 420px;
    margin-top: 6vh;
    padding-left: 5%;
    padding-right: 5%;
}

.first img {
    width: 47%;
    /* border: 1px solid red; */
}

.firstdiv {
    /* border: 1px solid yellow; */
    width: 53%;

}

.first h1 {
    color: hsl(243, 87%, 12%);
    font-family: Raleway;
    line-height: 45px;
    margin-bottom: 10px;
    font-size: 2rem;
}

.first p {
    color: hsl(243, 87%, 12%);
    font-size: 14px;
    margin-bottom: 20px;
    width: 21rem;
}

.placeholder {
    width: 40%;
    height: 38px;
    border-radius: 3px;
    border: 1px solid hsl(238, 22%, 44%);
    padding-left: 10px;
}

.first button {
    width: 25%;
    height: 38px;
    background-color: hsl(224, 93%, 58%);
    border: none;
    color: hsl(240, 75%, 98%);
    border-radius: 3px;
}

.curvebg {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 16vh;
}

.curve {
    width: 100%;
}
.mobilecurve{
    display: none;
}
.bgcolor{
    background-color: #F8F8FE;
}

.second {
    /* background-color: #F8F8FE; */
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* border: 2px solid black; */
    align-items: center;
    gap: 3;
}
.secondimgmobile{
    display: none;
}
.secondimg {
    width: 40%;
    /* margin-left: 14rem; */
    /* height: 65vh; */
    /* border: 1px solid red; */
}

.main {
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
    width: 50rem;
}

.main h1 {
    color: hsl(243, 87%, 12%);
    font-family: Raleway;
    line-height: 45px;
    margin-bottom: 27px;
    font-size: 2rem;
}

.main p {
    color: hsl(243, 87%, 12%);
    width: 22rem;
    font-size: 14px;
}

.hero p:first-of-type {
    margin-bottom: 15px;
}

.hero p:nth-of-type(2) {
    margin-bottom: 15px;
}

.flyointro {
    display: inline-flex;
    gap: 4px;
    text-decoration: none;
    color: hsl(170, 45%, 43%);
    align-items: center;
    border-bottom: 1px solid hsl(170, 45%, 43%);
    padding-bottom: 5px;
}

.arrow {
    margin-top: 3px;
}

.fylo {
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 0px 12px -2px rgba(128, 110, 110, 0.89);
    height: 45vh;
    width: 19rem;
    padding: 7% 0% 7% 7%;



}
.fylo > p:nth-of-type(1) {
    width: 15rem;
    line-height: 1.7;
    font-size: 15px;
    margin-bottom: 20px;

  }

.quots {
    width: 20px;
    margin-bottom: 3%;
}

.avatar {
    width: 2.5rem;
    border-radius: 50%;
}

.avatardetails {
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-items: center;
}

.avatardetails p:nth-of-type(1) {
    display: inline-block;
    font-family: Raleway;
    font-weight: 900;
    margin-top: 1%;
    font-size: 13px;
}

.avatardetails p span {
    font-weight: 500;
    display: block;
    margin-top: 5px;
}

.third {
    background-color: hsl(238, 22%, 44%);
    padding: 5%;
    display: flex;
    /* justify-content: space-between; Ensure space between left and right sections */
    /* align-items: center; Align items vertically */
    gap: 20%;
    height: 12rem;
}

.earlyaccess {
    /* flex: 1 1 auto; Allow it to grow and shrink as needed */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.earlyaccess p {
    color: hsl(240, 75%, 98%);
    font-weight: 300;
    font-size: 14px;
    width: 19rem;
}

.earlyaccess h1 {
    color: hsl(240, 75%, 98%);
    font-size: 24px;
    font-family: Raleway;
    font-weight: 600;
}

.input {
    /* flex: 0 1 300px; Prevent shrinking too much but allow resizing */
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    /* border: 1px solid black; */
    width: 20rem;
}

.input input {
    width: 100%; /* Responsive width */
    height: 2rem;
    border-radius: 3px;
    border: 1px solid hsl(238, 22%, 44%);
    padding-left: 15px;
    box-sizing: border-box;
}

.input button {
    width: 8rem;
    height: 38px;
    background-color: hsl(224, 93%, 58%);
    border: none;
    color: hsl(240, 75%, 98%);
    border-radius: 3px;
}

footer{
    display: flex;
    background-color: hsl(243, 87%, 12%);
    color: hsl(240, 75%, 98%);
     /* gap: 8rem; */
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: Raleway;
    font-weight: 300;
    font-size: 13px;
    justify-content: space-between;
}
.svgfile {
    width: 130px !important;
    height: auto !important;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 12rem;
}
.phone{
    display: flex;
    gap: 10px;
}
.email{
    display: flex;
    gap: 10px;
}
.details img{
    width: 0.7rem;
}
.aboutfylo{
    display: flex;
    gap: 7rem; 

}
.aboutfylo ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 3.5rem;
    height: 5rem;
    /* border: 1px solid blue;  */
    margin-top:3rem; 

}
.socialmedia{
    display: flex;
    justify-content: space-between;
    width: 100px;

}
.socialmedia img{
    width: 30px;
}

@media only screen and (max-width: 650px){
    body {
        display: flex;
        flex-direction: column;
    }
    .navbar {
        padding-top: 5%;
        padding-bottom: 2%;
        display: flex;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .navbar ul {
        gap: 2rem;
        width:14rem;
        font-size: 12px;
    }
    .navbar img {
        width: 6rem;
    }
    .first {
        display: flex;
        /* border: 1px solid blue; */
        flex-direction: column-reverse;
        align-items: center;
        height: unset;
        margin-bottom: unset;
        margin-top: 4rem;
        padding-left: 5%;
        padding-right: 5%;
    }
    .firstdiv{
        align-items: center;
    }
    
    .first img {
        width: 25rem;
        /* border: 1px solid red; */
    }
    
    .firstdiv {
        /* border: 1px solid yellow; */
        width: 100%;
        display: flex;
        flex-direction: column;
    
    }
    
    .first h1 {
        color: hsl(243, 87%, 12%);
        font-family: unset;
        line-height: 30px;
        margin-bottom: 10px;
        font-size: 2rem;
        margin-top: 3rem;
        text-align: center;
        width: 100%;
        /* border: 1px solid green; */
    }
    
    .first p {
        color: hsl(243, 87%, 12%);
        font-size: 14px;
        margin-bottom: 20px;
        width: 85%;
        text-align: center;
        /* border: 1px solid red; */
        margin-left: auto;
        margin-right: auto;
    }
    
    .placeholder {
        width: 85%;
        height: 38px;
        border-radius: 3px;
        /* border: 1px solid hsl(238, 22%, 44%); */
        padding-left: 10px;
    }
    
    .first button {
        width: 85%;
        height: 38px;
        background-color: hsl(224, 93%, 58%);
        border: none;
        color: hsl(240, 75%, 98%);
        border-radius: 3px;
        margin-top: 1.5rem;
    }
    
    .curvebg {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: 8rem;
    }
    
    .curve {
        display: none;
    }
    .mobilecurve{
        display: block;
        width: 100%;
    }
    .bgcolor{
        background-color: #F8F8FE;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .second {
        /* background-color: #F8F8FE; */
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: column-reverse;
        height: 55rem;
         /* border: 2px solid black; */
        align-items: center;
        margin-bottom: 6rem;
    }
    .secondimg{
        display: none;
    }

    .secondimgmobile {
        display: block;
        width: 25.5rem;
        /* margin-left: 14rem; */
        /* height: 65vh; */
         /* border: 1px solid red;  */
    }
    
    .main {
        display: flex;
        flex-direction: column;
        /* border: 1px solid green; */
        width: 100%;
        align-items: center;
    }
    
    .main h1 {
        color: hsl(243, 87%, 12%);
        font-family: Raleway;
        margin-bottom: 27px;
        font-size: 1.6rem;
        text-align: center;
        margin-top: 5rem;
    }
    
    .main p {
        color: hsl(243, 87%, 12%);
        width: 100%;
        font-size: 15px;
    }
    .hero {
        display: flex; /* Enable flexbox for the section */
        flex-direction: column; /* Stack children vertically */
        justify-content: center; /* Center vertically */
        align-items: center; /* Center horizontally */
        text-align: center; /* Center text inside elements */
    }
    
    .hero p:first-of-type {
        margin-bottom: 15px;
        text-align: left;
    }
    
    .hero p:nth-of-type(2) {
        margin-bottom: 15px;
        text-align: left;
    }
    
    
    .flyointro {
        display: inline-flex;
        gap: 4px;
        text-decoration: none;
        color: hsl(170, 45%, 43%);
        align-items: center;
        border-bottom: 1px solid hsl(170, 45%, 43%);
        padding-bottom: 5px;
        padding-left: auto;
        padding-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 16px;
    }
    
    .arrow {
        margin-top: 3px;
    }
    
    .fylo {
        margin-top: 27px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background: #ffffff;
        box-shadow: 0px 0px 12px -2px rgba(128, 110, 110, 0.89);
        height: 20rem;
        width: 27rem;
        padding: 3rem 0.7rem 0 2rem;
    
    
    
    }
    .fylo > p:nth-of-type(1) {
        width: 100%;
        line-height: 1.7;
        font-size: 13px;
        margin-bottom: 20px;
    
      }
    
    .quots {
        width: 1rem;
        margin-bottom: 3%;
    }
    
    .avatar {
        width: 2.5rem;
        border-radius: 50%;
    }
    
    .avatardetails {
        display: flex;
        flex-direction: row;
        gap: 3%;
        align-items: center;
    }
    
    .avatardetails p:nth-of-type(1) {
        display: inline-block;
        font-family: Raleway;
        font-weight: 900;
        margin-top: 1%;
        font-size: 13px;
    }
    
    .avatardetails p span {
        font-weight: 500;
        display: block;
        margin-top: 5px;
    }
    .third {
        background-color: hsl(238, 22%, 44%);
        padding: 17%;
        display: flex;
        /* justify-content: space-between; Ensure space between left and right sections */
        /* align-items: center; Align items vertically */
        gap: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 45vh;
    }
    
    .earlyaccess {
        /* flex: 1 1 auto; Allow it to grow and shrink as needed */
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .earlyaccess p {
        color: hsl(240, 75%, 98%);
        font-weight: 300;
        font-size: 13px;
    }
    
    .earlyaccess h1 {
        color: hsl(240, 75%, 98%);
        font-size: 1.5rem;
        font-family: Raleway;
        font-weight: 600;
    }

    
    .input {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        width: 20rem;
    }
    
    .input input {
         /* Responsive width */
        height: 3rem;
        border-radius: 3px;
        border: 1px solid hsl(238, 22%, 44%);
        padding-left: 15px;
        font-size: 13px;
    }
    
    .input button {
        width: 100%;
        height: 3rem;
        background-color: hsl(224, 93%, 58%);
        border: none;
        color: hsl(240, 75%, 98%);
        border-radius: 3px;
        font-size: 1rem;
    }
    footer{
        display: flex;
        flex-direction: column;
        background-color: hsl(243, 87%, 12%);
        color: hsl(240, 75%, 98%);
         /* gap: 8rem; */
        padding-left: 7%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        font-family: Raleway;
        font-weight: 300;
        font-size: 13px;
        justify-content: space-between;
    }
    .svgfile {
        width: 14rem !important;
        height: auto !important;
        margin-bottom: 3rem;
    }
    .details{
        display: flex;
        flex-direction: column;
        gap: 18px;
        width: 100%;
        /* border: 1px solid yellow; */
    }
    .phone{
        display: flex;
        gap: 10px;
    }
    .email{
        display: flex;
        gap: 10px;
    }
    .details img{
        width: 1.3rem;
    }
    .aboutfylo{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        /* border: 1px solid green; */
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
    
    }
    .aboutfylo ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 8rem;
        width: 100%;
        /* margin-bottom: 4rem; */
        margin-top: unset;
    
    }
    .socialmedia{
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        gap: 0.8rem;
    
    }
    .socialmedia img{
        width: 30px;
    }

}
